<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Choose what you would like to order</title>
    </head>
    <body>
        <button type="button" onclick="location.href='cones.html'">Cones</button>
        <button type="button" onclick="location.href='cakes.html'">IceCream Cakes</button>
        <button type="button" onclick="location.href='milkshakes.html'">Milkshakes</button>
        <button type="button" onclick="location.href='froyo.html'">Froyo</button>
        <button type="button" onclick="location.href='sandwiches.html'">IceCream Sandwiches</button>
    </body>
</html>